.THIS .audi {
    background-repeat: no-repeat;
	background-position: center;
    background-image: url("/resource/1588070331000/icon_audi");
   
}
.THIS .volkswagen {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598259949000/icon_volskwagen");
   
}
.THIS .vwcomerciales {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598273866000/icon_vwcomerciales");
   
}
.THIS .hondamotos {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598260035000/icon_HondaMotos");
   
}
.THIS .man {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598260162000/icon_Man");
   
}
.THIS .manautobus {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598260162000/icon_Man");
   
}
.THIS .ducati {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598260000000/icon_ducati");
   
}
.THIS .toyota {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588605323000/icon_toyota");
   
}
.THIS .hyundai {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588605373000/icon_hyundai");
   
}
.THIS .bmw {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598346396000/icon_bmw");
   
}
.THIS .honda {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588659982000/icon_honda");
   
}
.THIS .renault {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598351844000/icon_renault");
   
}
.THIS .citroen {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598271251000/icon_citroen");
   
}
.THIS .fiat {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598346667000/icon_fiat");
   
}
.THIS .ford {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588669011000/icon_ford");
   
}
.THIS .gm {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598346906000/icon_gm");
   
}
.THIS .landrover {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588669120000/icon_landrover");
   
}
.THIS .mercedes {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598347173000/icon_mercedes");
   
}
.THIS .mini {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588676323000/icon_mini");
   
}
.THIS .mitsubishi {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598347771000/icon_mitsubishi");
   
}
.THIS .nissan {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598348035000/icon_nissan");
   
}
.THIS .skoda {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588677695000/icon_skoda");
   
}
.THIS .subaru {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588677745000/icon_subaru");
   
}
.THIS .tesla {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598348277000/icon_tesla");
   
}
.THIS .alfaromeo {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598349289000/icon_alfaromeo");
   
}
.THIS .bentley {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588748567000/icon_bentley");
   
}
.THIS .chevrolet {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588748636000/icon_chevrolet");
   
}
.THIS .chrysler {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588748711000/icon_chrysler");
   
}
.THIS .dacia {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339126000/icon_dacia");
   
}
.THIS .daihatsu {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339183000/icon_daihatsu");
   
}
.THIS .ds {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339219000/icon_ds");
   
}
.THIS .isuzu {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339284000/icon_isuzu");
   
}
.THIS .iveco {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588748828000/icon_iveco");
   
}
.THIS .jaguar {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588748898000/icon_jaguar");
   
}
.THIS .jeep {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588748972000/icon_jeep");
   
}
.THIS .kawasaki {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598349492000/icon_kawasaki");
   
}
.THIS .kia {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1588749034000/icon_kia");
   
}
.THIS .ktm {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339362000/icon_ktm");
   
}
.THIS .lamborghini {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598349832000/icon_lamborghini");
   
}
.THIS .lancia {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339415000/icon_lancia");
   
}
.THIS .lexus {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598350132000/icon_lexus");
   
}
.THIS .mazda {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598350425000/icon_mazda");
   
}
.THIS .porsche {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598350958000/icon_porsche");
   
}
.THIS .saab {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339469000/icon_saab");
   
}
.THIS .seat {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339532000/icon_seat");
   
}
.THIS .silence {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598338983000/icon_silence");
   
}
.THIS .ssangyong {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339582000/icon_ssangyong");
   
}
.THIS .suzuki {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598352701000/icon_suzuki");
   
}
.THIS .triumph {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339637000/icon_triumph");
   
}
.THIS .volvo {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598353037000/icon_volvo");
   
}
.THIS .yamaha {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598339681000/icon_yamaha");
   
}
.THIS .daewoo {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598355061000/icon_daewoo");
   
}
.THIS .opel {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598355096000/icon_opel");
   
}
.THIS .peugeot {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598355130000/icon_peugeot");
   
}
.THIS .smart {
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/resource/1598355165000/icon_smart");
   
}