.THIS .emailInput{
    margin-left: 0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0;
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;

}


.THIS .sfdc_button {

        width: 100%;
    margin-top: 18px;
    margin-bottom: 15px;
    color: var(--lwc-colorTextButtonBrand,#FFFFFF);
    cursor: pointer;
    background-color: var(--lwc-colorBackgroundButtonBrand,rgb(25, 41, 48));
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: var(--lwc-fontFamily,Lato);
    font-weight: 700;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;

}

.THIS  button:hover {
    background-color:#3276b1;
    border-color:#285e8e;
    cursor:pointer;
}

.THIS  input {
     margin-left: 0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}

.THIS .slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}